<div class="container" style="border:thin">  
  <form #empadd='ngForm' (ngSubmit)="Register(empadd)" class="form-horizontal" style="width:50%"  >    
  <div class="form-group" >  
              <label class="control-label col-sm-2" for="firstName" >First Name:</label>  
              <div class="col-sm-10">  
                <input  style="width:50%"    type="text" class="form-control"  
                 width="50%" id="firstName" placeholder="Enter first name"  
                 name="firstName" firstname required [(ngModel)]='objemp.firstName'  #firstName="ngModel">  
             <span class="help-bpx" *ngIf="firstName.touched && !firstName.valid ">Required</span>  
              </div>  
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="lastName">Last Name:</label>  
              <div class="col-sm-10">  
                <input style="width:50%"   required type="text" class="form-control" width="50%"   
                id="lastName" placeholder="Enter Last Name" name="lastName" lastName required [(ngModel)]='objemp.lastName'  #lastName="ngModel">  
                <span class="help-bpx" *ngIf="lastName.touched && !lastName.valid ">Required</span>  
              </div>   
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="title" >title:</label>  
              <div class="col-sm-10">  
                <input  style="width:50%"    type="text" class="form-control"  
                 width="50%" id="title" placeholder="Enter title"  
                 name="title" title required [(ngModel)]='objemp.title'  #title="ngModel">  
             <span class="help-bpx" *ngIf="title.touched && !title.valid ">Required</span>  
              </div>  
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="city">city:</label>  
              <div class="col-sm-10">  
                <input style="width:50%"   required type="text" class="form-control" width="50%"   
                id="city" placeholder="Enter city" name="city" city required [(ngModel)]='objemp.city'  #city="ngModel">  
                <span class="help-bpx" *ngIf="city.touched && !city.valid ">Required</span>  
              </div>   
            </div> 

           <!--  <div class="form-group" >  
              <label class="control-label col-sm-2" for="Gender">Gender:</label>  
              <div class="col-sm-10">  
                <select name="gender" gender required [(ngModel)]='objemp.gender'  #gender="ngModel">  
                <option value="0" selected disabled>Please Select</option>  
                <option value="1">Male</option>  
                <option value="2">Female</option>  
                <span class="help-bpx" *ngIf="gender.touched && !gender.valid ">required</span>  
              </select>  
              </div>  
            </div>   -->
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="email">Email:</label>  
              <div class="col-sm-10">  
                <input #email="ngModel"  style="width:50%" type="email" [(ngModel)]='objemp.email' class="form-control" width="50%" id="email" placeholder="Enter email" name="email">  
                <span class="help-bpx" *ngIf="email.touched && !email.valid ">**</span>  
              </div>  
            </div>  
             <div class="form-group">          
              <div class="col-sm-offset-2 col-sm-10">  
                <button  id="btnsubmit"  type="submit" class="btn btn-primary">Submit</button>  
              </div>  
            </div>  
          </form>  
        </div>  
        <button style="display:none" type="button" #closeBtn  class="btn btn-default"   data-dismiss="modal">Close</button>  
