<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/GrantSet'"> GrantSet</a>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>