

<div >
    <div>
            <mat-card>
                    <div>  
                        <clr-dg-action-bar>
                                <a class="btn btn-sm btn-secondary" href="http://localhost:62723/api/print/download?fileName=GrantFinalWithTOC.pdf" download="GrantFull.pdf" target="_blank">Full Download</a> 
                        </clr-dg-action-bar> <clr-dg-action-bar>
                                <a class="btn btn-sm btn-secondary" href="http://localhost:62723/api/print/download?fileName=GrantFinalWithTOC.pdf">This page only</a> 
                        </clr-dg-action-bar>
                        <clr-dg-action-bar>
                                <a #download class="btn btn-sm btn-secondary" href=""
                                  (click)="ToExcel()">Excel Download</a>
                               </clr-dg-action-bar>

                             <!-- download="Grants.csv" -->
                          </div>  
            </mat-card> 
        
        
            <!-- <a class="btn btn-primary" (click)="DownLoadFiles()">Download File</a> -->
        <!-- <button class="btn btn-primary" (click)="downloadAsPDF()">Print</button> -->
        <clr-datagrid [(clrDgSelected)]="selected">
          <clr-dg-column>Status</clr-dg-column>
          <clr-dg-column>Grantid</clr-dg-column>
          <clr-dg-column>GrantSetFiscalYear</clr-dg-column>
          <clr-dg-column>ProgramName</clr-dg-column>
          <clr-dg-column>GrantTypeId</clr-dg-column>
          <clr-dg-column>Grant End</clr-dg-column>
          <clr-dg-column>Grant_start</clr-dg-column>
          <!-- <clr-dg-row *ngFor="let grant of allGrantsets"> -->
          <clr-dg-row *clrDgItems="let grant of grantsets; index as i">
              <!-- </clr-dg-row> [clrDgItem]="grant"> -->
            <clr-dg-cell [ngClass]="{'status-red':grant.Status=='OnTime','status-green':grant.Status =='Complete'}">{{grant.Status}}</clr-dg-cell>
            <clr-dg-cell> <a [routerLink]="['/Grant',grant.Grantid]">{{grant.Grantid}}</a></clr-dg-cell>
            <clr-dg-cell>{{grant.GrantSetFiscalYear}}</clr-dg-cell>
            <clr-dg-cell>{{grant.GrantTypeId}}</clr-dg-cell>
            <clr-dg-cell>{{grant.ProgramName}}</clr-dg-cell>
            <clr-dg-cell>{{grant.Grant_End | date}}</clr-dg-cell>
            <clr-dg-cell>{{grant.Grant_start | date}}</clr-dg-cell>
            <clr-dg-row-detail *clrIfExpanded>
            <!-- = " i===1" - this is used for default expansion of first row
                for pagination  [clrDgTotalItems]="total"> 
                Test data for expansion-->
                    <!-- <ng-template [ngIf]="detail === 'default'">
                        Test1
                    </ng-template> -->
    
                    <!-- <ng-template [ngIf]="detail === 'cols'"> -->
                        <clr-dg-cell>{{grant.Grantid}}</clr-dg-cell>
                        <clr-dg-cell>{{grant.ProgramName}}</clr-dg-cell>
                        <clr-dg-cell>Three</clr-dg-cell>
                        <clr-dg-cell>Four</clr-dg-cell>
                        <clr-dg-cell>Five</clr-dg-cell>
                    <!-- </ng-template> -->
                  </clr-dg-row-detail>
            
        </clr-dg-row>
        <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{total}} grants
            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
        </clr-dg-footer>
        </clr-datagrid>

</div>


</div>
